@import './utils/variables';
@import './utils/mixin';
@import './utils/placeholder';
@import './base/normalize';
@import './base/reset';
@import './base/_common';
@import './utils/vs-hidden';
@import './layout/conteiner';
@import './layout/section';
@import './components/btn';
@import './layout/header';
@import './components/logo';
@import './layout/nav';
@import './components/contacts';
@import './layout/hero';
@import './components/titles';
@import './layout/qualities';
@import './layout/works';
@import './layout/team';
@import './layout/clients';
@import './components/social';
@import './layout/footer';
@import './components/forms';
@import './components/grid';
@import './components/product';
@import './components/modal';
