.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  @media screen and (min-width: $wprt-phone) {
    width: $wprt-phone;
  }

  @media screen and (min-width: $wprt-tablet) {
    width: $wprt-tablet;
  }

  @media screen and (min-width: $wprt-desktop) {
    width: $wprt-desktop;
  }
}

.header-container {
  @include centeredflex($jc: space-between);
}

.footer__container {
  @media screen and (min-width: $wprt-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: $wprt-desktop) {
    @include centeredflex($ai: baseline);
  }
}
