.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  @media screen and (min-width: $wprt-phone) {
    width: $wprt-phone;
  }

  @media screen and (min-width: $wprt-tablet) {
    width: $wprt-tablet;
  }

  @media screen and (min-width: $wprt-computer) {
    width: $wprt-computer;
  }
}

.header-container {
  @include centeredflex($jc: space-between);
  padding-right: 10px;

  .footer__container {
    @include centeredflex($ai: baseline);
  }
}
