.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  @media screen and (min-width: $wprt-mob) {
    width: 480px;
  }

  @media screen and (min-width: $wprt-tab) {
    width: 786px;
  }

  @media screen and (min-width: $wprt-deskt) {
    width: 1200px;
  }
}

.header-container {
  @include centeredflex($jc: space-between);
}

.footer__container {
  @media screen and (min-width: $wprt-tab) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: $wprt-deskt) {
    @include centeredflex($ai: baseline);
  }
}
