.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bgr-color-footer;

  &__address {
    margin-bottom: 8px;
    font-style: normal;
    @include font(400, 14px, 1.71, 0.03em);
    text-align: center;
    color: $color-secondary-text;

    @media screen and (min-width: $wprt-deskt) {
      margin-bottom: 9px;
      text-align: left;
    }
  }
}

.footer-wrap {
  margin-bottom: 60px;

  @media screen and (min-width: $wprt-deskt) {
    margin-bottom: 0px;
    margin-right: 70px;
  }
}

.footer__btn {
  margin: 0 auto;

  @media screen and (min-width: $wprt-deskt) {
    margin: 0px;
  }
}
