.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bgr-color-footer;

  &__address {
    margin-bottom: 8px;
    font-style: normal;
    @include font(400, 14px, 1.71, 0.03em);
    text-align: center;
    color: $color-secondary-text;
  }
}

.footer-wrap {
  margin-bottom: 60px;
}
