.header {
  position: relative;
  padding: 16px 0px;
}

.header-menu-wrap {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $wprt-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
