.header {
  position: relative;
  padding: 16px 0px;
  @media screen and (min-width: $wprt-tab) {
    padding: 0px;
  }
}

.header-menu-wrap {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $wprt-tab) {
    @include centeredflex($jc: space-between);
  }
}
