.header {
  font-family: Roboto;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $bgr-color-main;
  border-bottom: 1px solid #ececec;
}

.header-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 48px 40px;
  width: 100%;
  height: 796px;
  background-color: $bgr-color-main;
}
