.qualities {
  @extend %list;
  margin-bottom: -30px;
  &__item {
    margin-bottom: 30px;
  }
  &__img {
    @include centeredflex();
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $bgr-color-btn-list;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__title {
    margin-bottom: 10px;
    text-align: center;
    @include font();
    text-transform: uppercase;
    color: $color-title-text;
  }
  &__text {
    @include font($fw: 400, $fz: 14px, $lh: 1.71, $ls: 0.03em);
    color: $color-primery-text;
  }
}
