.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $wprt-deskt) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--works {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section--bgrcolor {
  background-color: $bgr-color-secondary;
}
