.team {
  @extend %list;
  margin-bottom: -30px;
  @media screen and (min-width: $wprt-tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }

  &__item {
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $bgr-color-main;

    @media screen and (min-width: $wprt-tablet) {
      flex-basis: calc(100% / 2 - 30px);
      margin-right: 30px;
    }
    @media screen and (min-width: $wprt-computer) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }

  &__description {
    padding-top: 30px;
    padding-bottom: 24px;
    @media screen and (min-width: $wprt-computer) {
      padding-bottom: 30px;
    }
  }
  &__name {
    margin-bottom: 10px;
    @include font($fw: 500, $fz: 16px, $lh: 1.19, $ls: 0.03em);
    text-align: center;
    color: $color-title-text;
  }
  &__position {
    margin-bottom: 16px;
    @include font($fw: 400, $fz: 16px, $lh: 1.19, $ls: 0.03em);
    text-align: center;
    color: $color-primery-text;
  }
}
