.works {
  @extend %list;
  @include centeredflex();
  &__item {
    position: relative;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__img {
    display: block;
  }
  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 27px 82px;
    background: rgba(47, 48, 58, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-secondary-text;
  }
}
