.btn {
  @include centeredflex();
  width: 200px;
  height: 50px;
  margin: 0px;
  border: 0px;
  border-radius: 4px;
  @include font(700, 16px, 1.14, 0.06em);
  @include coloredbtn();
  &__icon {
    margin-left: 10px;
    fill: $color-secondary-text;
  }
}
