.contacts {
  @extend %list;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    @extend %link;
    color: $color-primery-text;
    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
    display: none;
  }
}

.contacts__link--email {
  @include font(500, 24px, 1.17, 0.02em);
}
.contacts__link--tell {
  @include font(500, 34px, 1.18, 0.02em);
  color: $color-accent;
  order: -1;
}

.contacts--footer {
  display: block;
}
.contacts__item--margb:not(:last-child) {
  margin-bottom: 9px;
}
.contacts__link--style {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
