.logo {
  @extend %link;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  &__text {
    color: $color-accent;
  }
}

.logo--header {
  @include font(700, 24px, 1.17, 0.03em);

  color: $color-title-text;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: $color-secondary-text;
}
