.logo {
  @extend %link;
  font-family: Raleway;
  @include font(700, 24px, 1.17, 0.03em);
  color: $color-title-text;
  @media screen and (min-width: $wprt-deskt) {
    @include font(700, 26px, 1.19, 0.03em);
  }
  &__text {
    color: $color-accent;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  color: $color-secondary-text;
  @media screen and (min-width: $wprt-deskt) {
    text-align: left;
  }
}
