.logo {
  @extend %link;
  font-family: Raleway;
  @include font(700, 24px, 1.17, 0.03em);
  color: $color-title-text;
  &__text {
    color: $color-accent;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: $color-secondary-text;
}
