.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1000ms;
  width: 528px;
  min-height: 581px;
  background: $bgr-color-main;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  .backdrop.is-hidden & {
    transform: scale(2) rotate(180deg) translate(500px, 300px);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $bgr-color-main;
    border: 1px solid rgba(0, 0, 0, 0.1);
    &:hover .modal__icon {
      fill: $color-accent;
      cursor: pointer;
    }
  }
}
