.main-title {
  width: 696px;
  @include font(900, 44px, 1.36, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: $color-secondary-text;
}
.main-title--hero {
  margin-right: auto;
  margin-left: auto;
}

.second-title {
  @include font(700, 36px, 1.17, 0.03em);
  text-align: center;
  color: $color-title-text;
}

.second-title--work,
.second-title--team,
.second-title--clients {
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
