$color-primery-text: #757575;
$color-secondary-text: #ffffff;
$color-title-text: #212121;
$color-accent: #2196f3;
$color-icons: #afb1b8;
$bgr-color-main: #ffffff;
$bgr-color-secondary: #f5f4fa;
$bgr-color-footer: #2f303a;
$bgr-color-btn-list: #f5f4fa;
$bgr-color-overlay: rgba(33, 150, 243, 0.9);
